<div class="container">
  <h1 class="my-4">Users</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td>
            <%= link_to 'Show', user, class: 'btn btn-sm btn-info' %>
            <% if can? :update, user %>
              <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-sm btn-warning' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>