<div class="container">
  <h1 class="my-4">Users</h1>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
            <p class="card-text"><%= user.email %></p>
            <%= link_to 'View Profile', user_path(user), class: 'btn btn-primary' %>
            <% if can? :edit, user %>
              <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-secondary' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>