<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Users</h1>
  <% if can? :create, User %>
    <%= link_to 'New User', new_user_path, class: 'btn btn-success' %>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Messages Sent</th> 
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.sent_messages.count %></td> 
        <td>
          <%= link_to 'Show', user, class: 'btn btn-sm btn-info' %>
          <% if can? :edit, user %>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-sm btn-warning' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>