<h1>User Details</h1>

<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>

<h2 class="mt-4">Chats</h2>
<ul>
  <% @user.sent_chats.each do |chat| %>
    <li>Chat with <%= chat.receiver.email %> (<%= link_to 'View', chat %>)</li>
  <% end %>
  <% @user.received_chats.each do |chat| %>
    <li>Chat with <%= chat.sender.email %> (<%= link_to 'View', chat %>)</li>
  <% end %>
</ul>

<h2 class="mt-4">Messages Sent</h2>
<ul>
  <% @user.sent_messages.each do |message| %>
    <li><%= message.body %> (in chat <%= link_to message.chat.id, message.chat %>)</li>
  <% end %>
</ul>

<% if can? :edit, @user %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back', users_path, class: 'btn btn-secondary' %>