<h1>Message Details</h1>

<p><strong>Author:</strong> <%= @message.user.email %></p>
<p><strong>Chat:</strong> Between <%= @message.chat.sender.email %> and <%= @message.chat.receiver.email %></p>
<p><strong>Content:</strong> <%= @message.body %></p>
<p><strong>Sent At:</strong> <%= @message.created_at %></p>

<%= link_to 'Edit', edit_message_path(@message), class: 'btn btn-primary' %>
<%= link_to 'Back', messages_path, class: 'btn btn-secondary' %>