<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>My Inbox</h1>
  <% if can? :create, Chat %>
    <%= link_to 'New Chat', new_chat_path, class: 'btn btn-success' %>
  <% end %>
</div>

<div class="list-group">
  <% @chats.each do |chat| %>
    <%= link_to chat_path(chat), class: "list-group-item list-group-item-action" do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          Conversation with <%= chat.other_participant(current_user).full_name %>
        </h5>
        <small><%= time_ago_in_words(chat.updated_at) %> ago</small>
      </div>
      <% last_message = chat.messages.last %>
      <% if last_message %>
        <p class="mb-1 text-truncate">
          <strong><%= last_message.user.first_name %>:</strong>
          <%= last_message.body %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>