<div class="container">
  <h1 class="my-4">Chats</h1>

  <% if @chats.empty? %>
    <div class="alert alert-info">No chats available</div>
  <% else %>
    <div class="list-group">
      <% @chats.each do |chat| %>
        <%= link_to chat_path(chat), class: 'list-group-item list-group-item-action' do %>
          <div class="d-flex justify-content-between">
            <h5>
              <%= chat.other_user(current_user).full_name %>
            </h5>
            <span class="text-muted">
              <%= chat.last_message_time %>
            </span>
          </div>
          <p class="mb-1 text-truncate">
            <%= chat.last_message_content %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if can? :create, Chat %>
    <%= link_to 'New Conversation', new_chat_path, class: 'btn btn-success mt-3' %>
  <% end %>
</div>