<div class="container">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Chat with <%= @chat.other_user(current_user).full_name %></h2>
      <%= link_to 'Back', chats_path, class: 'btn btn-secondary' %>
    </div>

    <div class="messages" id="messages">
      <% @chat.messages.each do |message| %>
        <div class="message <%= message.user == current_user ? 'sent' : 'received' %>">
          <div class="message-content">
            <%= message.body %>
          </div>
          <div class="message-time">
            <%= message.created_at.strftime("%H:%M") %>
            <% if message.user == current_user && can?(:destroy, message) %>
              <%= link_to message_path(message), method: :delete, data: { confirm: '¿Delete this message?' }, class: 'delete-link' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="message-form">
      <%= render 'messages/form', message: @message, chat: @chat %>
    </div>
  </div>
</div>