<h1>Chat Details</h1>

<p><strong>Sender:</strong> <%= @chat.sender.email %></p>
<p><strong>Receiver:</strong> <%= @chat.receiver.email %></p>

<h2 class="mt-4">Messages</h2>
<table class="table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Message</th>
      <th>Sent At</th>
    </tr>
  </thead>
  <tbody>
    <% @chat.messages.each do |message| %>
      <tr>
        <td><%= message.user.email %></td>
        <td><%= message.body %></td>
        <td><%= message.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :edit, @chat %>
  <%= link_to 'Edit', edit_chat_path(@chat), class: 'btn btn-primary' %>
<% end %>
<% if can? :destroy, @chat %>
  <%= link_to 'Delete', @chat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
<%= link_to 'Back', chats_path, class: 'btn btn-secondary' %>